p {
 font-size:100%;
 font-family: verdana;
 color:red;
 border: 50px solid black;
}

h1 {
 color:red;
 text-align:center;
}

body{
 background-color:powderblue;
}

img {
 padding: 25px;
 border: 25px solid black;
 margin: 50px;
}
